body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#app-main {
    flex: 1;
}
article {
    min-height: 95%;
}
a:link {
    text-decoration: none;
}

a:visted {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}