<?php

declare(strict_types=1);

// phpcs:disable PSR12.Files.FileHeader.IncorrectOrder

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */

use Mezzio\Container;
use Mezzio\Middleware\ErrorResponseGenerator;

return [
    'dependencies' => [
        'factories' => [
            ErrorResponseGenerator::class => Container\WhoopsErrorResponseGeneratorFactory::class,
            'Mezzio\Whoops'               => Container\WhoopsFactory::class,
            'Mezzio\WhoopsPageHandler'    => Container\WhoopsPageHandlerFactory::class,
        ],
    ],
    'whoops'       => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
    'square' => [
        'config' => [
            'app_id'       => 'sandbox-sq0idb-7I_SX0DvhOqGpM69fRcpVQ',
            'access_token' => 'EAAAlznqj8RR028pFt00_5szKKRa-Z1E6KcDQURktYsr_gICtzjz3cF0Gk97Wkrk',
        ],
        'api_version' => '2024-07-17',
    ],
];
